body {
    font-family: Sometype Mono;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ebd374, #63584b);
    color: #333;
}
#tic-tac-toe-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}
.cell {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.cell:hover {
    background-color: #e3e3e3;
}

@media (max-width: 600px) {
    body {
        font-size: 1.2rem;
    }
    .cell {
        width: 80px;
        height: 80px;
    }

    #tic-tac-toe-board {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
    }
}